* {
    margin: 0;
    padding: 0;
}

.dark-theme {
    color: whitesmoke;
    background-color: black;
}

/* Fonts */


h1, h2, h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

/* Header with theme toggle button */

header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    padding: 0 0 10px 0;
    border-bottom: solid 1px black;
}

.dark-theme header {
    border-bottom: solid 1px whitesmoke;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: beige;
    border: 1px solid tan;
    width: 100%;
}

.dark-theme h1 {
    color: white;
    background-color:darkslategray;
    border: 1px solid darkgray;
}

/* Buttons */

.buttons {
    text-align: center;
}

button {
padding: 10px;
font-size: 20px;
border-radius: 5px;
font-family: Arial, sans-serif;
margin-bottom: 0.5em;
}

button:hover {
background-color: bisque;
}

.dark-theme button {
    color: white;
    background-color: black;
    border: solid 2px white;
    }

.dark-theme button:hover {
    background-color: grey;

}

.theme-button {
    background-color: beige;
}

.theme-button:hover {
    color: whitesmoke;
    background-color: black;
}

/* Text Section*/

#text {
    width: 90%;
    margin: 2% 5%;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
    columns: 1;
}

#comment-to-text {
    text-align: right;
    font-size: 0.9em;
    width: 90%;
    margin-bottom: 2em;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

/* Random Facts Section */

#random-generator {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: beige;
    border: 1px solid tan;
    max-width: 50em;
    line-height: 2;
}

.dark-theme #random-generator {
    background-color: darkslategray;
    border: 1px solid darkgray;
}

/* Photo Gallery */

.photo {
    text-align: center;
    border-top: solid 1px black;
    padding: 0.5em 0;
}

.dark-theme .photo {
    border-top: solid 1px whitesmoke;
}


.galleryimage {
}

.photo button {
    width: 180px;
    height: 80px;
    top: 0px;
    margin: 5px;

}

/* Footer */

footer {
    padding: 0.5em;
    border-top: solid 1px tan;
    background-color: beige;
    text-align: center;
    font-size: 0.8em;
}

.dark-theme footer {
    border-top: solid 1px whitesmoke;
    background-color:darkslategray;
}